.navigation {
  display: flex;
}

.navigation-logo {
  width: 232px;
  flex-shrink: 0;
  height: var(--nav-height-sm);
}

.navigation-content {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  margin-left: 20px;
}

.navigation-links ul {
  padding-top: 2px;
  display: flex;
  list-style: none;
}

.navigation-links ul li {
  padding: 4px;
  color: var(--grey-color);
  font-size: 11px;
  font-weight: bold;
}

.search-bar > div {
  margin-top: 2px;
}

.search-bar input {
  vertical-align: top;
}

.navigation-buttons > div {
  display: flex;
}

.navigation-buttons .orange {
  background-color: var(--orange-color);
}

.navigation-buttons .red {
  background-color: var(--red-color);
}

.navigation-buttons .button {
  color: #fff;
  padding: 5px;
  line-height: 15px;
  font-weight: bold;
}

.navigation-buttons .button:hover {
  text-decoration: underline;
}

.navigation-buttons > div > p:first-child {
  margin-right: 5px;
}

.navigation-categories {
  margin-top: -20px;
  line-height: 20px;
  font-weight: bold;
}

.navigation-categories a {
  text-decoration: none;
}

.navigation-categories ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.navigation-categories ul > li {
  font-size: 15px; 
  padding-bottom: 5px;
  margin-left: 15px;
  position: relative;
}

.navigation-categories ul ul li {
  min-width: 200px;
  margin-left: 0;
  padding-bottom: 0;
}

.navigation-categories ul ul a {
  background-color: #fff;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  line-height: 1em;
}

.navigation-categories ul > li:first-child {
  margin-left: 0;
}

.navigation-categories ul > li:hover > a {
  color: var(--red-color);
}

.navigation-categories ul > li > ul {
  display: none;
}

.navigation-categories ul > li:hover > ul {
  display: initial;
  position: absolute;
  left: -25px;
  top: 100%;
  background-color: #fff;
  z-index: 100;
}

.navigation-categories ul > li > ul > li:first-child {
  margin-left: 0;
}

.navigation-categories ul > li > ul:hover {
  display: initial;
}

.navigation-categories ul > li:hover > ul > li > ul {
  left: 100%;
  top: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
.navigation-categories ul > li > ul > li > a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 7px 5px 5px 23px;

}

.navigation-categories ul > li > ul > li > a:hover {
  color: #fff;
  background-color: var(--red-color);
}