:root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ef6;
  --background-color: #fff;
  --light-color: #fff;
  --grey-color: #666;
  --black-color: #000;
  --red-color: #a9233e;
  --orange-color: #f08902;

  /* fonts */
  --body-font-family: 'Poppins';
  --heading-font-family: var(--body-font-family);

  /* body sizes */
  --body-font-size-l: 20px;
  --body-font-size-m: 18px;

  /* heading sizes */
  --heading-font-size-xl: 42px;
  --heading-font-size-l: 35px;
  --heading-font-size-m: 25px;

  /* nav height */
  --nav-height: 151px;
  --nav-height-sm: 139px;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local("Arial");
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  font-family: var(--body-font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
  border-bottom: 12px solid #919192;

  /* POTOM UBRAT */
  
  overflow: hidden;
}

/* links */
a:any-link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  cursor: pointer;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}


main {
  border-top: 6px solid var(--black-color);
}

/* sections */
main .section {
  padding-bottom: 50px;
}

h2 {
  font-size: var(--heading-font-size-xl);
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

.title-list {
  width: 100%;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  font-size: var(--body-font-size-l);
}

@media (width >= 1476px) {
  .title-list {
    font-size: 30px;
  }
}

.title-list > li {
  margin-left: 8px;
}

.title-list > li:first-child {
  margin-left: 0;
}

.title-list > li > span > img {
  display: initial;
  vertical-align: middle;
}

#dedicated-to-providing-our-customers-with-the-highest-quality-products-and-services {
  font-size: 35px;
  font-weight: 400;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 5%;
}